@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

  .sidebar{
    flex-basis: 15%;
    padding: 20px;
    background-color: transparent;
  }
  

  /* SideBar */
.sidebar{
  margin: 0 2%;
  width: 280px;
  flex-shrink: 0;
  border-radius: 65px;
  border: 1px solid rgba(173, 173, 173, 0.42);
  background: white;
  position: relative;
  box-sizing: border-box;
  margin-top: 150px;
}
.sidebar-pic{
    position: absolute;
    top: -77px;
    left: 50%;
    transform: translateX(-50%);
    width: 10vw;
    height: auto;
}
.inner-sidebar{
    margin-top: 45%;
}
.center{
    text-align: center;
    font-family: Poppins;
}
.inner-sidebar h1{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.inner-sidebar h2 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.inner-sidebar a {
  text-decoration: none;
  color: #000;
}
.profile-section-buttons a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile-info-posts a{
  text-decoration: none;
  color: #000;
}


.saved-posts{
  margin-right: 15px;
}


@media (max-width: 952px) {
.sidebar{
  display: none;
}
}
