@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #0E1C58 0%, rgba(1, 14, 80, 0.78) 100%);
    padding: 0.5% 10%;
  }
  .logo{
    display: inline-flex;
    align-items: center;
  }
  .logo a {
    text-decoration: none;
    color: #333;
  }

  .logo img{
    height: 40px;
    width: auto;
  }
  
  .search {
    display: inline-flex;
    gap: 10px;
    align-items: center;
  }
  .left-section-nav{
    display: flex;
    gap: 30px;
  }
  
  .search input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 500px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 51px;
    background: #FFF;
    outline: 0;
    padding-left: 20px;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  .nav-links li {
    display: inline-block;
  }
  
  .nav-links li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
  }
  
  .nav-links li a:hover {
    background-color: #ddd;
  }
  .icon{
    width: 34px;
    height: auto;
    flex-shrink: 0;
    gap: 100px;
  }
  .logo-small{
    display: none;
  }

@media (max-width: 1360px) {
  .navbar {
    padding: 0.5% 5%;
}
}
@media (max-width: 1200px) {
  .navbar {
    padding: 0.5% 0.5%;
}
}
@media (max-width: 1095px) {
  .navbar {
    padding: 0.5% 1.5%;
}
.logo-full{
  display: none;
}
.logo-small{
  display: inline;
}
}
@media (max-width: 952px) {
  .navbar 
  {
    width: 100%;
    justify-content: center;
    gap: 10%;
  }
  .search input {
    width: 100%;
}

}
@media (max-width: 737px) {
.container{
  display: block;
}
}
@media (max-width: 650px) {
  .navbar{
    display: none;
  }
}
