@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:ital,wght@1,300&display=swap');
body{
    margin: 0;
    background: #ECECEC;
}
.main
{
    display: flex;
}
.left{
    flex-basis: 60%;
    padding-top: 10%;
    padding-left: 5%;
    background-image: url("assets/bg.png");
    height: 100vh;
    box-sizing: border-box;
    background-size: cover;
}
.right{
    flex-basis: 40%;
}
.logo{
    width: 332px;
    height: auto;
}
.code{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    color: white;
    background: linear-gradient(180deg, #6F6F6F 0%, rgba(255, 255, 255, 0.76) 48.96%, rgba(245, 245, 245, 0.18) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    margin-left: 5%;
}
  
